<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.jaguweb.isrif">
	<uses-permission	android:name="android.permission.INTERNET"/>
	<uses-permission	android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<application
		android:allowBackup="true"
		android:label="ISRIF"
		android:icon="@drawable/app_icon"
		android:largeHeap="true"
		android:name=".SketchApplication"
		android:theme="@style/AppTheme">
		<activity
			android:name=".MainActivity"
			android:configChanges="orientation|screenSize">
			<intent-filter>
				<action	android:name="android.intent.action.MAIN"/>
				<category	android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".AboutActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".FaqActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".AboutJaguwebActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".MoreByJaguwebActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".SplashActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".DocumentationActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".PrivacyPolicyActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".TermsConditionsActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".Splash1Activity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".DebugActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name="com.google.android.gms.ads.AdActivity"
			android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
			android:theme="@android:style/Theme.Translucent"/>
		<meta-data
			android:name="com.google.android.gms.version"
			android:value="@integer/google_play_services_version"/>
		<provider
			android:name="com.google.firebase.provider.FirebaseInitProvider"
			android:authorities="com.jaguweb.isrif.firebaseinitprovider"
			android:exported="false"
			android:initOrder="100"/>
		<service
			android:name="com.google.firebase.components.ComponentDiscoveryService"
			android:exported="false">
			<meta-data
				android:name="com.google.firebase.components:com.google.firebase.database.DatabaseRegistrar"
				android:value="com.google.firebase.components.ComponentRegistrar"/>
		</service>
		<uses-library
			android:name="org.apache.http.legacy"
			android:required="false"/>
	</application>
</manifest>
